.about-us-container {
    text-align: center;
    padding: 20px;
  }
  
  .image-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .grid-image {
    width: 30%; /* Ajusta el tamaño de las imágenes según sea necesario */
    margin: 0 10px; /* Espaciado entre las imágenes */
  }
  
  .info-box {
    border: 1px solid #ccc; /* Estilo del cuadro de información */
    padding: 10px;
    background-color: #f9f9f9; /* Fondo del cuadro */
  }
  